<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'learning_logs:topic' topic.id %}" class="btn btn-link">{{ topic }}</a></p>

        <h2>Add a new entry:</h2>

        <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="needs-validation">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Add entry</button>
        </form>
    </div>
{% endblock content %}

</body>
</html>