<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "learning_logs/base.html" %}
{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <h2>Register an account:</h2>

        <form method="post" action="{% url 'users:register' %}" class="needs-validation">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">Register</button>
            <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
        </form>
    </div>
{% endblock content %}

</body>
</html>